<h1>{{ title }} - {{ name }}</h1>

<p>1 + 1 = {{ 1 + 1 }}</p>

<button (click)="changeTittle()">Change titulo</button>

<input type="text" name="band" id="band" [(ngModel)]="rockBandName" />
<button (click)="addRockBand()">Add rock Band</button>
<button (click)="emptyRockBand()">Empty Rock Band</button>

<ul>
  <li *ngIf="rockBands.length === 0">No hay bandas de Rock</li>
  <li *ngFor="let rock of rockBands; index as i">
    <span (click)="deleteRockBand(i)">{{ rock }}</span>
    <button (click)="updateRockBand(i)">Editar</button>
  </li>
</ul>

<div *ngIf="rockBandName === 'Metallica'">
  <h2>Es {{ rockBandName }}</h2>

  Esta opcion sirve pucho para pintar opciones de la pagina dependiendo de los
  permisos del usuario
</div>

<div [ngSwitch]="rockBandName">
  <p *ngSwitchCase="'nirvana'">Es {{ rockBandName }}</p>
  <p *ngSwitchCase="'Metallica'">Es {{ rockBandName }}</p>
  <p *ngSwitchCase="'Mana'">Es {{ rockBandName }}</p>
  <p *ngSwitchCase="'Prisioneros'">Es {{ rockBandName }}</p>
  <p *ngSwitchDefault>no hace match</p>
</div>

<ul>
  <li *ngFor="let user of users">
    <span>Nombre: {{ user.name }}</span>
    <span>Edad: {{ user.age }}</span>
    <span>Enail: {{ user.email }}</span>
    <span>Soltero: {{ user.isSingle ? "casado" : "Soltero" }}</span>
    <picture>
      <img [src]="user.avatar" alt="" />
    </picture>
  </li>
</ul>

<app-product-list></app-product-list>

<app-not-performance></app-not-performance>
<br />
<app-pipe-performance></app-pipe-performance>
<br />
<app-user-list></app-user-list>
<br />
<app-user-list-api></app-user-list-api>
