<h1>{{ title }} - {{ name }}</h1>

<p>1 + 1 = {{ 1 + 1 }}</p>

<button (click)="changeTittle()">Change titulo</button>

<input type="text" name="band" id="band" [(ngModel)]="rockBandName" />
<button (click)="addRockBand()">Add rock Band</button>
<button (click)="emptyRockBand()">Empty Rock Band</button>

<ul>
  <li *ngIf="rockBands.length === 0">No hay bandas de Rock</li>
  <li *ngFor="let rock of rockBands">{{ rock }}</li>
</ul>

<div *ngIf="rockBandName === 'Metallica'">
  <h2>Es {{ rockBandName }}</h2>

  Esta opcion sirve pucho para pintar opciones de la pagina dependiendo de los
  permisos del usuario
</div>

<div [ngSwitch]="rockBandName">
  <p *ngSwitchCase="'nirvana'">Es {{ rockBandName }}</p>
  <p *ngSwitchCase="'Metallica'">Es {{ rockBandName }}</p>
  <p *ngSwitchCase="'Mana'">Es {{ rockBandName }}</p>
  <p *ngSwitchCase="'Prisioneros'">Es {{ rockBandName }}</p>
  <p *ngSwitchDefault>no hace match</p>
</div>
